<div>
  <h1>prueba mensaje</h1>
<h3>el mensaje del padre es {{ hijotexto }} </h3>
</div>

<div>
  <h1>el segundo mensaje del padre</h1>
  <h4>{{texto2hijo}}</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis hic quidem cumque dolorum, reiciendis esse distinctio tempora deserunt magni asperiores consequuntur expedita reprehenderit modi impedit ullam ipsa! Rem, mollitia minus?
  </p>

</div>

<div>
  <h3>el tercer mensaje del padre : lista de compras {{texto3hijo.frutas | json}}  </h3>

</div>

<div>
  compra de material escolar para clases:
  {{elemento4hijo.cuadernos | json}}
</div>